    <% include ../header %>
  	<header>
	    <h1>Ntalk</h1>
	    <h2>Bem-vindo!</h2>
  	</header>
  	<section>
  		<form action="/entrar" method="post">
  			<input type="text" name="nome" placeholder="Seu nome">
  			<br>
  			<input type="text" name="email" placeholder="seu e-mail">
  			<br>
  			<button type="submit">Entrar</button>
  		</form>
  	</section>
  	<% include ../footer %>

